# Logs
logs
!dokploy/supabase/volumes/logs/
!dokploy/supabase/volumes/logs/**
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
poc/**/dist
*.local
.env
.env.*
!env.example
!dokploy/supabase/.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.worktrees/
